#container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
    gap: 4px;
}

.little-box {
    border-width: 10px;
    border: red;
    flex: 1;
    aspect-ratio: 1 / 1;
    height: auto;
    background-color: black;
}