select {
    margin: auto;
    
}
#container {
    background-color: aqua;
    height: 50vh;
    aspect-ratio: 1 / 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.row {
    display: flex;
    gap: 1px;

}

.little-box {
    aspect-ratio: 1 / 1;
    flex: 1;
    background-color: chocolate;
}